<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>DemoJSP</display-name>
  <servlet>
    <servlet-name>contact</servlet-name>
    <jsp-file>/WEB-INF/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>articles</display-name>
    <servlet-name>articles</servlet-name>
    <servlet-class>fr.eni.ecole.ihm.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articles</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clients</display-name>
    <servlet-name>clients</servlet-name>
    <servlet-class>fr.eni.ecole.ihm.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clients</servlet-name>
    <url-pattern>/clients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>articles_details</servlet-name>
    <servlet-class>fr.eni.ecole.ihm.DetailsArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articles_details</servlet-name>
    <url-pattern>/articles/details</url-pattern>
  </servlet-mapping>
</web-app>